
<h1>Welcome to Chopped!</h1>
<p class="lead">To begin, let's start your first recipe</p>

<hr>

<h3>Recommended Recipes for You</h3>
<br>

<div class="row">

<div class="col-md-6">
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Hiring First Employee</h3>
  </div>
  <div class="panel-body">
  		<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', </p>
  	    <a class="btn btn-primary" href="#">Start Recipe</a>
  </div>
</div>
</div>

<div class="col-md-6">
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Project Proposal</h3>
  </div>
  <div class="panel-body">
   <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', </p>
    <a class="btn btn-primary" href="#">Start Recipe</a>
  </div>
</div>
</div>

<div class="col-md-6">
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Managing Invoice</h3>
  </div>
  <div class="panel-body">
   <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', </p>
    <a class="btn btn-primary" href="#">Start Recipe</a>
  </div>
</div>
</div>
<div class="col-md-6">
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Managing Invoice</h3>
  </div>
  <div class="panel-body">
   <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', </p>
    <a class="btn btn-primary" href="#">Start Recipe</a>
  </div>
</div>
</div>

</div>

<h3>Browse All Recipes</h3>
<ul class="nav nav-pills">
  <li class="active"><a href="#">Human Resources</a></li>
  <li><a href="#">For Project</a></li>
  <li><a href="#">Company Setup</a></li>
</ul>

<hr>

<div class="row">

<div class="col-md-6">
<div class="panel panel-default">
  <div class="panel-body">
    <h4>Basic panel example</h4>
    <a href="#">View Recipe</a>
  </div>
</div>
</div>
<div class="col-md-6">
<div class="panel panel-default">
  <div class="panel-body">
    <h4>Basic panel example</h4>
    <a href="#">View Recipe</a>
  </div>
</div>
</div>
<div class="col-md-6">
<div class="panel panel-default">
  <div class="panel-body">
    <h4>Basic panel example</h4>
    <a href="#">View Recipe</a>
  </div>
</div>
</div>
<div class="col-md-6">
<div class="panel panel-default">
  <div class="panel-body">
    <h4>Basic panel example</h4>
    <a href="#">View Recipe</a>
  </div>
</div>
</div>

</div>