<div id="docstats-wrapper">

  <div class="container">
    <div class="row">
      <div class="element">
      <div class="col-md-3 center">
      <a href="#"><span>3</span>
      Drafts
      </a>
      </div>
      </div>

      <div class="element active">
      <div class="col-md-3 center">
      <a href="#">
      <span>13</span>
      Completed
      </a>
      </div>
      </div>

      <div class="element">
      <div class="col-md-3 center">
      <a href="#">
      <span>9</span>
      Sent
      </a>
      </div>
      </div>

      <div class="element">
      <div class="col-md-3 center">
      <a href="#">
      <span>5</span>
      Signed
      </a>
      </div>
      </div>

    </div>
  </div>

</div>